 @media (max-width: 576px) {
   

    /* header .header-content{
        margin: 10px 0 0 150px;
    }
    header .header-content h1{
        font-size: 45px;
        font-weight: 700;
    } */
    header .header-content p{
       display: none;
   
    }
    
    /* header .header-content a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        padding: 7px 20px;
        display: inline-block;
        transition: .5s;
        margin-top: 40px;
    } */

    /* .progress {
        width: 85px;
        height: 85px;
        font-size: 18px;}
} */

/**/ 
} 
@media (max-width:991px) {
 /* info sec */

.infoImg1{
    width:100% !important;
}

}